@font-face {
  font-family: "Source Code Regular";
  src: url("./res/fonts/SourceCodePro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Bold";
  src: url("./res/fonts/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Italic";
  src: url("./res/fonts/SourceCodePro-LightItalic.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  scroll-padding-top: 5em;
  color: black;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* font family */
.regular {
  font-family: "Source Code Regular";
}

.bold {
  font-family: "Source Code Bold";
}

.italic {
  font-family: "Source Code Italic";
}

main {
  padding: 1em;
  margin-top: 4em;
}

#projects-div {
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  flex-grow: 1;
  width: 45%;
  padding: 0.5em;
  margin: 0.5em 0.5em 1em 0.5em;
}

.project > h4 {
  margin: 0;
  margin-bottom: 1em;
}

#scroll-to-top {
  position: fixed;
  bottom: 1.3em;
  right: 1.3em;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.1em 0.5em 0.1em 0.5em; */
  padding: 0.5em;
  margin: 0.4em;
}

/* .contact-link > i {
  margin-right: 0.2em;
} */

ul {
  list-style-type: "> ";
  padding-left: 1em;
}

.icon {
  color: rgb(119, 118, 118);
}

#links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 0.4em;
  margin: 0.4em;
}

.tag {
  padding: 0.3em;
  margin: 0.1em;
  margin-bottom: 0.5em;
  display: inline-block;
}

#skills-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.tech-icon {
  margin: 0.3em;
  padding: 0.6em 0.5em 0.3em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 3.8em; */
  /* height: 3.8em; */
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
  text-decoration: none;
}

a:active {
  color: blueviolet;
  text-decoration: none;
  transition: all 0.3s;
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 0px 0px #ccc;
}

/* a:hover {
  transition: all 0.3s;
  color: rgb(201, 233, 83);
  background-color: rgb(54, 115, 165);
} */

.box {
  padding: 0.4em 1.2em 0.4em 1.2em;
  margin: 1em 0 1em 0;
}

.box-border {
  border: 1px solid darkgrey;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px 1px #ccc;
}

.proj-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
}

.paragraph {
  line-height: 0.3em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .flex-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .contact-link {
    width: 100%;
  }
  .project {
    width: 95%;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    color: aliceblue;
    background-color: rgb(3, 15, 34);
  }
  .box-border {
    border: 1px solid rgb(227, 239, 240);
    border-radius: 0.5em;
    box-shadow: 1px 1px 1px 0.5px rgb(236, 229, 229);
  }
  .icon {
    color: aliceblue;
  }
  a {
    color: rgb(210, 186, 231);
  }

  a:visited {
    color: rgb(210, 186, 231);
  }

  a:active {
    color: rgb(210, 186, 231);
  }
}
