@font-face {
  font-family: "Source Code Regular";
  src: url("./res/fonts/SourceCodePro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Bold";
  src: url("./res/fonts/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Italic";
  src: url("./res/fonts/SourceCodePro-LightItalic.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  scroll-padding-top: 5em;
}

html {
  scroll-behavior: smooth;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  border: 1px black solid;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

img {
  fill: aqua;
}

/* font family */
.regular {
  font-family: "Source Code Regular";
}

.bold {
  font-family: "Source Code Bold";
}

.italic {
  font-family: "Source Code Italic";
}

main {
  padding: 1em;
  margin-top: 4em;
}

#scroll-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  border: 1px black solid;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: beige;
}

.contact-link {
  display: flex;
  align-items: center;
  border: 1px black solid;
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin: 0.3em 1em 0.3em 1em;
}

.contact-link > i {
  margin-right: 0.2em;
}

.icon {
  color: brown;
}

#skills-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.tech-icon {
  margin: 0.3em;
  border: 1px solid black;
  padding: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 3.8em;
  height: 3.8em;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
  text-decoration: none;
}

a:active {
  color: blueviolet;
  text-decoration: none;
}

.box {
  padding: 0.4em 1.2em 0.4em 1.2em;
  border: 1px solid black;
  margin: 1em 0 1em 0;
}

.paragraph {
  line-height: 0.3em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .flex-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .contact-link {
    width: 100%;
  }
}

/* @media (prefers-color-scheme: dark) {
  * {
    color: rgb(217, 227, 237);
    background-color: rgb(5, 23, 51);
  }
  .box {
    border: 1px solid white;
  }
  .icon {
    fill: aliceblue;
  }
} */
